<include file="Public:header" />
<body>

<include file="Public:nav" />

<style>

    .rowLast > ul > li {
        display: block;
        width: 274px;
        height: auto;
        float: left;
    }

    .rowLast {
        margin-bottom: auto;
        margin-top: auto;
    }

    .about p {
        margin-bottom: auto;
    }
</style>

<div class="about">
    <section class="container " id="company"><!--公司简介-->
        <h4></h4>
        <div style="width: 940px;">
            <center><h1>腾库科技 亮相2016上海国际绿色停车设备展会</h1></center>
            <br>
            <p>
                历时三天的2016上海国际绿色停车设备与技术展览会在浦东新国际博览中心已经圆满落下帷幕。本届展会由中国重型机械工业协会停车设备工作委员会主办，展会持续3天，展览面积达4000平米，规模为历年来最大，参展企业达50多家，行业一线品牌企业悉数参加，如此规模的停车设备专业展放眼国际也称得上是最大的,给观众带来前所未有的视觉盛宴。
            </p>
        </div>
        <div class="help">
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao"></li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/01.png" style="width: 100%;">
                        <!--<h3>发明专利号:ZL 2015 1 0019841.1</h3>-->
                    </li>
                    <li class="contact jieshao"></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

        <p>
            上海腾库智能科技有限公司总部位于上海，是一家拥有多项专利技术，专业从事轨道式无避让立体停车设备的技术研发、升级和咨询服务的智能科技公司。上海腾库以一款专利立体停车设备惊艳亮相，夺人眼球。

        </p>

        <div class="help">
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao"></li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/02.png" style="width: 100%;">
                        <center><span style="font-size: 12px;">五层样机</span></center>
                    </li>
                    <li class="contact jieshao"></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao">
                        <img src="{$IMG_URL}news/03.png" style="width: 100%;">
                        <center><span style="font-size: 12px;">效果图1</span></center>
                    </li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/04.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">效果图2</span></center>
                    </li>
                    <li class="contact jieshao">
                        <img src="{$IMG_URL}news/05.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">效果图3</span></center>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao">
                        <img src="{$IMG_URL}news/06.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">展览会现场1</span></center>
                    </li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/07.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">展览会现场2</span></center>
                    </li>
                    <li class="contact jieshao">
                        <img src="{$IMG_URL}news/08.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">中国重机协会停车设备工作委员会会长明艳华女士及助理李仲军先生莅临上海腾库展台</span></center>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao">
                        <img src="{$IMG_URL}news/09.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">腾库科技执行董事及策略总监王辉、会长明艳华、腾库科技董事长兼总经理李亚仁</span></center>
                    </li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/10.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">上海腾库总经理为重机协会停车设备委员会会长明艳华女士介绍腾库无避让立体停车设备</span></center>
                    </li>
                    <li class="contact jieshao">
                        <img src="{$IMG_URL}news/11.png" style="width: 100%;">
                        <center><span  style="font-size: 12px;">上海腾库执行董事、策略总监王辉为来自阿拉伯的外籍友人介绍腾库无避让立体停车设备</span></center>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

        <p>
            展会期间，上海腾库智能科技有限公司还举办了产品发布及合作洽谈会，获得了行业领导、行业精英、国内外客户的一致好评，同时建立了全国销售网络。
        </p>
        <div class="help">
            <div class="container rowLast">
                <ul>
                    <li class="notice jieshao">
                        <img src="{$IMG_URL}news/12.png" style="width: 100%;">
                    </li>
                    <li class="battery jieshao">
                        <img src="{$IMG_URL}news/13.png" style="width: 100%;">
                    </li>
                    <li class="contact jieshao">
                        <img src="{$IMG_URL}news/14.png" style="width: 100%;">
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

        <br>

        <h3 style="text-align: center; color: red;">热烈祝贺上海腾库智能科技有限公司本次展会及新品发布会取得圆满成功！
        </h3>

        <h1 style="text-align: center; color: red;"><strong>期待下一届展会</strong></h1>

    </section>



</div>

<!--帮助中心-->


<hr>


<script type="text/javascript">
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }

    //百度地图API功能
    function loadJScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=t7wkvulOr3Ob76qqAaiD2de6&callback=init"
        document.body.appendChild(script);
    }
    function init() {
        var map = new BMap.Map("baiduMap",{minZoom:15,maxZoom:20});
        var point = new BMap.Point(121.517715,31.092545);
        map.centerAndZoom(point,18);

        var myIcon = new BMap.Icon("{$IMG_URL}position.png",new BMap.Size(24,34));
        var marker = new BMap.Marker(point,{icon:myIcon});
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);

        var opts = {
            width : 350,
            height: 60,
            title : "上海腾库智能电子科技有限公司" ,
            enableMessage:true
        }
        var infoWindow = new BMap.InfoWindow("上海市｜ 闵行区｜ 恒西路189号507室", opts);
        marker.addEventListener("click", function(){
            map.openInfoWindow(infoWindow,point);
        });
    }
    window.onload = loadJScript;
</script>

<!--底部导航-->
<include file="Public:footer" />

</body>
</html>