<include file="Public:header" />
<body>

<include file="Public:nav" />
<!--战略支撑伙伴-->
<div style="background:url({$IMG_URL}partner/partnerBg.png) no-repeat center; height:400px; min-width:940px;">
    <div class="container partnerTOP">
        <!--<h3 class="wow fadeInDown">电动汽车分时共享·缓解城市交通压力·减少尾气污染</h3>
        <p class="wow fadeInDown">时空电动汽车，为企业提供专业的电动汽车改造方案，<br />让更多的企业真正体验感受于绿色低碳经济所带来的低成本、高效率等优势。</p>-->
    </div>
</div>

<!--滴滴-->
<div style=" background:url({$IMG_URL}partner/partner-bgdidi.png) no-repeat center"  class="project" >
</div>

<!--全国经销网点-->
<div style="background:url({$IMG_URL}partner/partner-place.png) no-repeat top;" class="Public">
    <div class="container partnerMap">
        <h3>全国经销网点</h3>
        <p></p>
        <!--发光-->
        <div class="star"><b></b></div>
    </div>
</div>


<!--代理合作-->
<div class="condition" id="Agency">
    <h1></h1>

    <p class="condition-h1-p">腾库科技诚邀各位有实力和有志于腾库专利立体停车设备销售和项目投资，<br/>并认同腾库科技品牌理念的投资人加盟腾库科技，<br/>成为腾库科技的长期忠实合作伙伴。</p>
    <h4>成为腾库科技授权经销商，您需要具备以下条件：</h4>
    <span>1</span>

    <p class="condition-h4-p">企业家精神和良好的经营理念、了解中国停车产业发展状况。<br/>（具有立体车库产品销售、项目投资经验者优先考虑）。</p>
    <span>2</span>

    <p class="condition-h4-p">具备充足的产品销售或项目投资所需的投资资金及后续运营所需的流动资金，<br/>及良好的资信状况和融资能力。</p>
    <span>3</span>

    <p class="condition-h4-p">认同腾库科技的企业文化和理念。</p>
</div>

<script type="text/javascript">
    function openUrl(url){
        window.open(url);
    }
</script>




<!--底部导航-->
<include file="Public:footer" />

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>