<include file="Public:header" />

<body>

<include file="Public:nav" />

<!--<div class="aboutBg minWidth"></div>&lt;!&ndash;顶部背景图片&ndash;&gt;-->
<div class="">
    <div style="position: relative;opacity: 1;display: block;z-index: 2;">
        <img src="{$IMG_URL}aboutBg.jpg" style="width: 100%;">
        <!--<div style="position:absolute; top:40%; right:0;left: 0;color:white;">-->
        <!--<h1 class="wow fadeInDown" style="text-align: center;color: #FFFFFF;">新能源充电桩</h1>-->
        <!--</div>-->
    </div>
</div>
<div>
    <section class="container about" id="company"><!--公司简介-->
        <h4>公司简介</h4>
        <p>上海腾库智能科技有限公司总部位于上海，是一家拥有多项专利技术，专业从事轨道式无避让立体停车设备的技术研发、升级和咨询服务的智能科技公司。公司拥有一项世界最先进的轨道式无避让升降平移传动技术,并针对这一技术进行相关产品的开发、制造和销售等。主要产品包括轨道式无避让立体停车设备、自动化仓储设备和可移动车库等。 公司下设研发中心、生产基地、品牌营销中心、工程维保中心,并分别于华东、华南、华北、西北、西南设立五个产品中心。 </p>
        <p>上海腾库智能科技公司具备国家特种设备生产制造许可证、特种设备安装改造维修许可证和其他各种资质,公司拥有专业的高级工程师及相关技术团队 ，以及专业的安装技术团队及专业的售后服务团队。</p>
        <p>目前公司在江苏拥有一家设备齐全的生产基地，配备先近的、专业的自动生产线，各种大型精密设备。其中包括：核心部件生产线、标准钢结构生产线；非标钢结构生产线；花纹车板生产线；波纹车板生产线；表面处理设备等。各种生产线按照功能需求配置数控车床、进口激光切割机、数据锯床、数控三维钻床等设备。</p>
        <img src="{$IMG_URL}map.png" class="img_logo" style="width: 90%; margin-left: auto;margin-right: auto;display: block;;">
    </section>
    <hr>

    <a name="contact"></a>
    <section class="container about" style="margin-bottom:55px;" id="contact"><!--联系方式-->
        <h4>联系方式</h4>
        <div id="baiduMap" style="width: 90%;height: 203px;display: block; margin-left: auto;margin-right: auto;"><img src="{$IMG_URL}address.jpg" style="width: 940px;"></div>
        <p style=" text-indent:inherit;">
            <strong>公司总部</strong>
            <br />地址：上海市闵行区恒西路189号507室<br />电话：+86 21-34786960
            <br />传真：+86 21-34786970
        </p>

        <!--<p style="float:left; text-indent:inherit;padding-left: 40px;">-->
            <!--<strong>生产基地</strong>-->
            <!--<br/>地址：江苏省句容市华阳西路句容经济开发区-->
            <!--&lt;!&ndash;<br />电话：021-34786960&ndash;&gt;-->
            <!--&lt;!&ndash;<br />传真：021-34786970&ndash;&gt;-->
        <!--</p>-->
        <p style="float:right; text-indent:inherit;">
<!--            <br />南京办事处:
            <br />地址：江苏省南京市鼓楼区汉中门大街303号南京服务外包大厦D座
            <br />电话：025-83690017-->
        </p>
        <div class="clear"></div>
    </section>
</div>

<script type="text/javascript">
    function iFrameHeight() {
        var ifm= document.getElementById("iframepage");
        var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }

    //百度地图API功能
    function loadJScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=t7wkvulOr3Ob76qqAaiD2de6&callback=init"
        document.body.appendChild(script);
    }
    function init() {
        var map = new BMap.Map("baiduMap",{minZoom:15,maxZoom:20});
        var point = new BMap.Point(121.517715,31.092545);
        map.centerAndZoom(point,18);

        var myIcon = new BMap.Icon("{$IMG_URL}position.png",new BMap.Size(24,34));
        var marker = new BMap.Marker(point,{icon:myIcon});
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);

        var opts = {
            width : 350,
            height: 60,
            title : "上海腾库智能科技有限公司" ,
            enableMessage:true
        }
        var infoWindow = new BMap.InfoWindow("上海市｜ 闵行区｜ 恒西路189号507室", opts);
        marker.addEventListener("click", function(){
            map.openInfoWindow(infoWindow,point);
        });
    }
    window.onload = loadJScript;
</script>

<!--底部导航-->
<include file="Public:footer" />

</body>
</html>