<!doctype html>
<html class="no-js">

<include file="Public:head" />

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<include file="Public:header" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <include file="Public:sidebar" />

  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <!--<div class="am-btn-toolbar">-->
            <!--<div class="am-btn-group am-btn-group-xs">-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="am-u-sm-12 am-u-md-3">
          <!--<div class="am-form-group">-->
            <!--<select data-am-selected="{btnSize: 'sm'}">-->
              <!--<option value="option1">所有类别</option>-->
              <!--<option value="option2">IT业界</option>-->
              <!--<option value="option3">数码产品</option>-->
              <!--<option value="option3">笔记本电脑</option>-->
              <!--<option value="option3">平板电脑</option>-->
              <!--<option value="option3">只能手机</option>-->
              <!--<option value="option3">超极本</option>-->
            <!--</select>-->
          <!--</div>-->
        </div>
        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" id="queryStr">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" onclick="Jumppage()">搜索</button>
          </span>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <div id="tablelist">

            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check"><input type="checkbox"/></th>
                <th class="table-id">ID</th>
                <th class="table-title">患者</th>
                <th class="table-title">医生</th>
                <th class="table-date am-hide-sm-only">就诊时间</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              <volist name="data" id="appointment">
              <tr>
                <td><input type="checkbox"/></td>
                <td>{$appointment.id}</td>
                <td>{$appointment.patientname}</td>
                <td>{$appointment.doctorname}</td>
                <td class="am-hide-sm-only">{$appointment.begindate}-{$appointment.enddate}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <!--<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>-->
                      <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                      <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick='CancelAppointment("{$appointment.id}")'><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                  </div>
                </td>
              </tr>
              </volist>

              </tbody>
            </table>
              </div>
            <!--<div id="pages">-->
              <!--<for start="1" end="$pagenum" step="1" name="i">-->
                <!--<span><a onclick="Jumppage({$i});" href="#">{$i}</a>-->
                <!--</span>-->
              <!--</for>-->
            <!--</div>-->
            <div class="am-cf" id="tableFooter">
              共 {$recordnum} 条记录
              <div class="am-fr">
                <div id="pages">

                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">«</a></li>
                    <for start="1" end="$pagenum+1" step="1" name="i">
                      <if condition="($i eq 1)">
                        <li class="am-active"><a onclick="Jumppage(this);" href="#">{$i}</a></li>
                        <else />
                        <li><a onclick="Jumppage(this);" href="#">{$i}</a></li>
                      </if>
                    </for>
                  <li><a href="#">»</a></li>
                </ul>
                  </div>
              </div>
            </div>
            <hr />
            <p>注：.....</p>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>



  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$Think.const.JS_URL}amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{$Think.const.JS_URL}jquery.min.js"></script>
<!--<![endif]-->
<script src="{$Think.const.JS_URL}amazeui.min.js"></script>
<script src="{$Think.const.JS_URL}app.js"></script>

<script>
  function Jumppage(page){
    var pagesize = 10;
    var pageNum = 1;
    var url = '__SELF__';
    var queryStr = $('#queryStr').val()
    if(page)  pageNum = page.innerHTML;


    jQuery(".am-active").removeClass("am-active");
    jQuery(page).parent("li").addClass("am-active");

    $("<div></div>").load(url,{queryStr:queryStr,page:pageNum,pagesize:pagesize},function(){

      var data = $(this).find("#tablelist").html();
      $('#tablelist').html(data);

      if(!page){
        var tableFooter = $(this).find("#tableFooter").html();
        $('#tableFooter').html(tableFooter);
      }

      $(this).remove();
    });
  }

  //删除预约
  function CancelAppointment(appointmentId) {

    if (confirm("是否要删除?")) {
      $.post("__URL__/delete", {id: appointmentId}, function (data, textStatus) {
//      alert(data);
        Jumppage();
      });
    }


  }
</script>
</body>
</html>
