<!--顶部导航-->


<!--顶部导航-->
<!--顶部折叠导航-->
<header class="container topheader">
    <a href="__APP__/Mobile/Index/index.html" class="logo"></a>
    <div class="menu" id="accordion">
        <div class="link"><i></i></div>
        <ul class="submenu" style="display:none;">
            <li class="submenu01"><a href="__APP__/Mobile/Right/right.html" class="blueA">知识产权</a></li>
            <li class="submenu02"><a href="__APP__/Mobile/Product/product1.html" class="blueA">产品中心</a></li>
            <li class="submenu03"><a href="__APP__/Mobile/Product/product1.html" class="blueA">TK-1.0<br />两层</a></li>
            <li class="submenu04"><a href="__APP__/Mobile/Product/product2.html" class="blueA">TK-1.0五层<br />五层</a></li>
            <li class="submenu05"><a href="__APP__/Mobile/Core/core.html" class="blueA">核心优势</a></li>
            <li class="submenu06"><a href="__APP__/Mobile/Future/future.html" class="blueA">未来空间</a></li>
            <li class="submenu07"><a href="__APP__/Mobile/News/news.html" class="blueA">新闻中心</a></li>
            <li class="submenu08"><a href="__APP__/Mobile/About/about.html" class="blueA">关于腾库</a></li>
            <!--<li class="submenu09"><a href="/m/partners" class="blueA">时空之家</a></li>-->
            <div class="clear"></div>
        </ul>
    </div>
</header>
<!--遮罩层-->
<div class="shade"></div>


<!--遮罩层-->
<div style="height:72px;"></div>


<!--<div class="navbar-wrapper">-->
    <!--<div class="container" style="width: 990px;">-->
        <!--<nav class="navbar">-->
            <!--<div class="navbar-header">&lt;!&ndash;logo&ndash;&gt;-->
                <!--<a href="__APP__/Home/Index/index.html"><img style="  width: 60%;" src="{$IMG_URL}logo.png"></a>-->
            <!--</div>-->
            <!--<div class="navbar-main">&lt;!&ndash;导航&ndash;&gt;-->
                <!--<ul class="nav">-->
                    <!--<li>-->
                        <!--<a href='__APP__/Home/Right/right.html'>知识产权</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="__APP__/Home/Product/product1.html">产品中心</a>-->
                        <!--<div class="second">-->
                            <!--<ul>-->
                                <!--<li><a href='__APP__/Home/Product/product1.html'>TK-1.0两层</a></li>-->
                                <!--<li><a href='__APP__/Home/Product/product2.html'>TK-1.0五层</a></li>-->

                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="__APP__/Home/Core/core.html">核心优势</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="__APP__/Home/Future/future.html">未来空间</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="__APP__/Home/News/news.html">新闻中心</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="__APP__/Home/About/about.html">关于腾库</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="navbar-right">&lt;!&ndash;右侧导航&ndash;&gt;-->
                <!--<a href="#" class="skioFamily">简体中文</a>-->
                <!--<a href="#" class="skioGz">ENGLISH</a>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
            <!--<div class="clear"></div>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->